$light-black: #2c2e30;
$cancel-grey: #717274;
$light-grey-background: #e8e9e8;
$button-green: #008951;
$hover-green: #34a075;
$dark-grey-text: #606162;
$shadow-grey: #d4d4d4;


.modal {
  position: absolute;
  z-index: 1;
  min-height: 100%;
  min-width: 100%;
  color: $light-black;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-content: flex-end;
  margin: 0 auto;
}

.modal > button {
  height: 64px;
  width: 64px;
  z-index: 2;

  color: $cancel-grey;
  font-size: 40px;
  text-align: center;

  margin-left: auto;
  margin-right: 50px;
  margin-top: 50px;
  padding: 0;
  border-radius: 50px;
}

.modal > button:hover {
  background-color: $light-grey-background;
}
.modal > button:active {
  color: white;
  background-color: $button-green;
}

.modal > div {
  display: flex;
  flex-direction: column;
}

.modal .cancel:hover {
  box-shadow: 0 1px 2px 0 $shadow-grey;
}

.modal .submit{
  color: white;
  background-color: $button-green;
}
.modal .submit:hover{
  background-color: $hover-green;
  box-shadow: 0 1px 2px 0 $shadow-grey;
}
.modal .submit:disabled {
  color: $dark-grey-text;
  background-color: $light-grey-background;
  box-shadow: none;
  border: none;
  cursor: default;
}
