$border-blue: #cbe7f7;
$hover-blue: #eaf5fc;
$user-blue: #2d9ee0;
$divider-grey: #e8e9e8;
$border-grey: #919193;
$light-black: #2c2e30;

.modal .user-search {
  display: flex;
  flex-direction: column;
}

.user-search ul {
  max-height: 380px;
  overflow-y: auto;
}

.user-search h2 {
  color: $border-grey;
  margin: 8px 0 5px 0;
}

.searchable-user-list-item {
  display: flex;
  align-items: center;
  border-top: 1px solid $divider-grey;
  padding: 5px 0;
}
.searchable-user-list-item:hover {
  background-color: $hover-blue;
  border-color: $border-blue;
  border-radius: 5px
}

.searchable-user-list-item h1{
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  padding: 0;
  margin: 0 5px;
}

.searchable-user-list-item h2{
  margin: 0 5px;
}

.selected-users {
  min-height: 44px;
  border: 1px solid $border-grey;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.selected-users .selected-user-list-item, .selected-user-list-item h1{
  width: auto;
  height: 26px;
  font-size: 16px;
}

.selected-user-list-item{
  display: inline-flex;
  align-items: center;

  padding: 0 6px;
  margin: 5px;
  border-radius: 5px;

  color: white;
  background-color: $user-blue;
}

.selected-user-list-item:hover, .searchable-user-list-item:hover {
  cursor: pointer;
}
