$sidebar-purple: #4b394b;
$dull-white: #cac4c9;
$purple-white: #9c919b;

.dm-list {
  margin-top: 18px;
}

.dm-list * {
  cursor: pointer;
}

.dm-list > * {
  min-height: 26px;
  padding: 0 15px;
}

.dm-list li span {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dm-list li span:nth-child(1) {
  min-width: 15px;
  width: 15px;
  color: $sidebar-purple;
  background-color: $purple-white;
  border-radius: 5px;
  display: flex;
  font-size: 12px;
  margin: 0 2px;
}
