$light-black: #2c2d30;
$light-grey-border: #e8e8e8;
$slack-green: #108851;
$background-cream: #f9f9f9;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: left;

  width: 340px;
  margin: 0 auto;
  padding: 40px 139px;

  border: 1px solid $light-grey-border;
  border-radius: 5px;
  box-shadow: 0 1px 1px -1px $light-black;

  font-family: 'Lato', sans-serif;
  color: $light-black;
}

.form-container h1 {
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}
.form-container h2 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
.form-container #session-form-subhead {
  margin: 0 auto;
  margin-bottom: 35px;
}

.form-container form {
  display: flex;
  flex-direction: column;
  color: $light-black;
}

.form-container form input {
  height: 50px;
  border: 1px solid #919193;
  border-radius: 5px;
  margin-top: 10px;
  padding-left: 15px;
  box-sizing: border-box;
  font-size: 20px;
}

.form-container form input[type="submit"]{
  color: white;
  background-color: $slack-green;
  text-align: center;
  margin-top: 18px;
}

//// TODO: Add breakpoints
